@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}

input {
    border-radius: 3px;
    outline: none;
    border: 1px solid #808080;
}

.formContainer {
    min-height: 100vh;
    padding: 30px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(https://media.istockphoto.com/id/468615322/photo/blue-abstract-background.jpg?s=1024x1024&w=is&k=20&c=43kKzTddlI-rsstDX8kYy261ta7Xwgc1oK2S8tVGeZc=);
    background-size: cover;
}

.form {
    width: 700px;
    padding: 20px 30px;
    box-shadow: 0 0 18px rgba(0,0,0,0.2), 0 2px 8px rgba(0,0,0,0.1), 0 4px 8px rgba(0,0,0,0.1), 0 6px 8px rgba(0,0,0,0.1);
    background-color: #fefdfa;
}

.header {
    text-align: center;
    padding: 18px;
}

.heading {
    margin: 5px 0px;
    color: #7e49ca;
}

    .heading:nth-child(1) {
        text-transform: uppercase;
    }

    .heading:nth-child(2) {
        font-family: "Pacifico", cursive;
        font-weight: 400;
        font-style: normal;
        color: #ffa500;
    }

.floating-box {
    position: relative;
    height: 40px;
    line-height: 40px
}

.floating-input {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: transparent;
    font-size: 14px;
    padding: 8px;
    outline: none;
    z-index: 9;
}

#date {
    z-index: 11 !important;
}

.floating-label {
    position: absolute;
    padding: 0 8px;
    background-color: white;
    color: #000000;
    font-size: 14px;
}



.floating-input:focus + .floating-label,
.floating-input:valid + .floating-label {
    padding: 0 5px;
    z-index: 11111;
    line-height: 20px;
    height: 20px;
    transform: translate(6px,-10px) scale(0.8);
}

.error {
    color: red;
    font-size: 12px;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 15px;
}

.date-box, .gender, .emailBox, .mobileBox,
.usernameBox, .pwdBox {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.gender-inputs {
    display: flex;
    justify-content: space-between;
}

.address-box, .addressBox {
    grid-column: span 2;
}

.addressBox {
    display: flex;
    flex-direction: column;
}

    .addressBox input,
    .date-box input,
    #state, #city, .emailBox input, .mobileBox input,
    .usernameBox input, .pwdBox input {
        height: 35px;
        padding: 8px;
    }

    #state, .addressBox input, #city {
        width: 100%;
        margin-top: 8px;
    }

small {
    padding: 2px;
}

.rememberBox, .account {
    padding: 10px 0;
}

.submit-box, .account {
    text-align: center;
}

.account {
    font-size: 14px;
}

.submit-box input {
    width: 50%;
    border: none;
    outline: none;
    background-color: #6f2ecc;
    padding: 8px 0;
    color: white;
    margin-top: 10px;
}

    .submit-box input:hover {
        background-color: #7649b8;
    }

.ui-dialog {
    left: 50% !important;
    top: 50px !important;
    transform: translateX(-50%) !important;
    z-index: 99 !important;
}

label {
    font-size: 14px;
}

.alertBox-container {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: none;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.4));
    z-index: 999;
}

.alertBox {
    width: 400px;
    padding: 40px;
    background: #f6ece1;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}

#msgCancel-icon {
    position: absolute;
    right: 15px;
    top: 7px;
    font-size: 30px;
    font-weight: 600;
    cursor: pointer;
}

.msg-logo {
    width: 150px;
    height: 150px;
    text-align: center;
}

    .msg-logo img {
        width: 100%;
        height: 100%;
    }

#msg-content {
    font-size: 24px;
    font-weight: bold;
    margin-top: 10px;
    text-align: center;
}
