@{
    ViewBag.Title = "Home Page";
}
@Styles.Render("~/Content/Home/index.css")

<main>
    <div class="carouselContainer">
        <div class="carouselSlidBox">
            <div class="carouselSlid">
                <div class="content">
                    <h1>World’s #1</h1>
                    <h1>Online Bootcamp</h1>
                    <p>5,000,000 careers advanced</p>
                    <p> 1,500 live classes every month</p>
                    <p> 85% report career benefits including promotion or a new job</p>
                    <div>
                        <a href="~/Auth/SignUp">Explore Programs</a>
                    </div>
                </div>
                <div class="imageContainer">
                    <img src="https://images.pexels.com/photos/4145153/pexels-photo-4145153.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" />
                </div>
            </div>
        </div>
        <div class="carouselSlidBox">
            <div class="carouselSlid">
                <div class="content">
                    <h1>World’s #1</h1>
                    <h1>Online Bootcamp</h1>
                    <p>5,000,000 careers advanced</p>
                    <p> 1,500 live classes every month</p>
                    <p> 85% report career benefits including promotion or a new job</p>
                    <div>
                        <a href="~/Auth/SignUp">Explore Programs</a>
                    </div>
                </div>
                <div class="imageContainer">
                    <img src="https://images.pexels.com/photos/4145153/pexels-photo-4145153.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" />
                </div>
            </div>
        </div>
    </div>
</main>